#container {
    min-height:100%;
}
    
#top_div {
    height:400px;
    width:100%;
    margin:auto;
    text-align:center;
    border-bottom: black, 1px;
}
    
#bottom_div {
    height: calc(100% - 400px);
    width: 100%;
    margin:auto;
    text-align:center;
}

body, html, #container {
    height: 100%;
    width: 100%;
    margin: 0;
  }

canvas {
    position:absolute;
    height: 400px;
    width: 100%;
    margin: 0;
    top: 0;
    left:0;
}

#staff {
    z-index: 0;
}

#overlay {
    z-index: 1;
}

.layer {
    pointer-events:none;
    background-color: transparent;
}