#container {
    min-height:100%;
}
    
#top_div {
    height:400px;
    width:100%;
    margin:auto;
    text-align:center;
    border-bottom: black, 1px;
}
    
#bottom_div {
    height: calc(100% - 400px);
    width: 100%;
    margin:auto;
    text-align:center;
}

body, html, #container, canvas {
    height: 100%;
    width: 100%;
    margin: 0;
  }
